
<!doctype html>
<html>
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <head>
        <title>Blogz</title>
    </head>
<body>
    <div class="container-fluid">
        <a class="sr-only sr-only-focusable" href="#main-content">Skip to main content</a>
        <div class="row">
            <div class="col">
            <nav style="display:inline-block;">
                <a href="/">Home</a> |
                <a href="/blog">All Posts</a> |
                <a href="/newpost">New Post</a> |  
                <a href="/signup">Signup</a> |
                <a href="/login">Login</a> |
                <a href="/logout">Logout</a> |  
            </nav>
            </div>
        </div><!-- row for nav --> 
    </div>
    <div class="container-fluid" style="background-color:red;">
        <div class="row">
            <div class="col" id="main-content" name="main-content">
                <main>

                {% block content %}
                {% endblock %}
                </main>
            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container fluid -->
</body>
</html>