
<!doctype html>
<html>
        <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='bootstrap.min.css') }}">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <head>
        <title>Blogz</title>
    </head>
<body>
    <div class="container">

        <nav style="display:inline-block;">
            <a href="/">Home</a> |
            <a href="/blog">All Posts</a> |
            <a href="/newpost">New Post</a> |  
            <a href="/signup">Signup</a> |
            <a href="/login">Login</a> |
            <a href="/logout">Logout</a> |  
        </nav>

    </div>

    {% block content %}
    {% endblock %}

</body>
</html>