{% extends 'base.html' %}
{% block content %}
<div class="container">
    <main>
        <div class="row" style="text-align:center;">
            <h1>All Blog Posts</h1>
        </div>
    </div>
 <div class="container">
        
{% for blog in blogs %}
<div class="row">
    <p><h3><a href="./blog?id={{ blog.id }}">{{blog.title}}</a></h3></p>
    <h4>{{blog.body}}</h4>
    <h5>Published on:&nbsp;&nbsp;{{blog.pub_date}}</h5>
    <h5> Written by: &nbsp;&nbsp;<a href="./blog?userid={{ blog.owner_id }}">{{ blog.owner.username}}</a></h5>
</div><!-- row -->
{% endfor %}

</main>
</div><!-- container -->

{% endblock %}