{% extends 'base.html' %}
{% block content %}
<div class="container">
    <main>
    <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col" style="text-align:center;">   
            <h1>Going..  Going..  Gone.</h1>
            <p>....Our little blog...</p>
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/_YRs28yBYuI?rel=0" 
            frameborder="0"
            allow="autoplay; encrypted-media" 
            allowfullscreen></iframe>
            <p>....."We know EVERYTHING about you, Martin...."</p>
        </div><!-- col -->
        <div class="col">&nbsp;</div>
     </div><!-- row -->
   </main>
</div>
{% endblock %}