{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">&nbsp;</div>
        <div class="col">   
            <h1>Welcome to Blogz!</h1>
            <iframe width="560" height="315" 
            src="https://www.youtube.com/embed/BjWBHn6R-hY?rel=0" 
            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div><!-- col -->
        <div class="col">&nbsp;</div>
    </div><!-- row -->
</div>
{% endblock %}