{% extends "base.html" %}

{% block content %}
<div class="container">
        <main>
            <div class="row">
                <div class="col">&nbsp;</div>
                <div class="col">
<h1>Sign Up!</h1>
<form action="/signup" method="post">
        <div>
            <p><label for="username">User Name</label></p>
            <p><input name="username" type="text" value="{{ username }}"></p>
            <p style="color:red;" role="alert">{{ username_error }}</p>
        </div>

        <div>
            <p><label for="email">Email</label></p>
            <p><input name="email" type="email" value="{{ email }}"></p>
            <p style="color:red;" role="alert">{{ email_error }}</p>
       </div>
        <div>
            <p><label for="password">Password</label></p>
            <p><input name="password" type="password"></p>
            <p style="color:red;" role="alert">{{ password_error }}</p>
         </div>
         <div>
            <p><label for="verify">Verify Password</label></p>
            <p><input name="verify" type="password"></p>
            <p style="color:red;" role="alert">{{ verify_error  }}</p>
         </div>   

    <input type="submit" role="button" class="btn btn-info" value="Submit">
</form>
</div><!-- col -->
<div class="col">&nbsp;</div>
</div><!-- row -->
</main>
</div><!-- container -->
{% endblock %}